body{
    font-family:Arial, Helvetica, sans-serif;
}

.caption{
    text-align: center;
    color: darkred;
}

nav{
    background-color: black;
    height: 60px;
    margin: 2% 4%;
    color: white;
    font-size: 16px;
}

.nav1{
    display: flex;
    flex-direction: row;
    padding-right: 6%;
    justify-content: space-between;
    align-content: center;
    padding-left: 60%;
}



.button1{
    background-color: rgb(95, 166, 184);
    color: white;
    border-radius: 18px;
    border-color: transparent;
    text-align: center;
    height: 24px;
    padding-top: 2.2%;
    width: 120px;
    font-size: 15px;
    margin-top: 3.7%;
   }

.nav2{
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    align-content: center;
    padding-left: 38%;
}

.nav2 > a{
    margin-right: 48px;
}


.button2{
    background-color: rgb(95, 166, 184);
    color: white;
    border-radius: 18px;
    border-color: transparent;
    text-align: center;
    height: 24px;
    padding-top: 1%;
    width: 120px;
    font-size: 15px;
    margin-top: 1.8%;
    margin-left: 39%;
   }


.nav3{
    display: flex;
    flex-direction: row;
    padding-right: 60%;
    justify-content: space-between;
    align-content: center;
    padding-left: 6%;
}

a{
    cursor: pointer;
    margin-top: 20px;
}
a:hover{
    font-weight: bolder;
    color: ghostwhite;
    font-weight: 18px;
}
.button1:hover{
    background-color: aliceblue;
    color: black;
}
.button2:hover{
    background-color: aliceblue;
    color: black;
}
